@font-face {
  font-family: "Gotham Pro Light";
  src: url("../fonts/GothamPro-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro Medium";
  src: url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: #292929;
  color: #fff;
  font-family: "Gotham Pro", sans-serif;
}

.text-color-red {
  color: #ff3469;
  font-family: GothamPro-Medium;
}

.header {
  padding-top: 50px;
  margin-right: 5%;
  margin-left: 5%;
}

.header-description {
  font-family: GothamPro-Light;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.header-contacts {
  text-align: right;
}

.header-phone {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-decoration: none;
  display: block;
}

.header-info {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-top: 7px;
  display: block;
}

.callback {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #ff3469;
  display: block;
  margin-top: 16px;
}

.hero {
  text-align: center;
  padding-top: 140px;
  padding-bottom: 77px;
  border-bottom: 1px solid;
  border-color: #4c4c4c;
}

.hero-title {
  font-size: 34px;
  line-height: 1.4;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  max-width: 652px;
  margin: auto;
  margin-bottom: 30px;
}

.hero-description {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  max-width: 590px;
  margin: auto;
}

.flowers-slider {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

:root {
  --swiper-navigation-size: 18px;
  --swiper-navigation-color: #ff2e55;
}

.swiper-button-prev {
  background-color: #292929;
  border: none;
}

.swiper-button-next {
  background-color: #292929;
  border: none;
}

.cta {
  font-size: 19px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  margin-bottom: 36px;
  display: block;
}

.button {
  display: inline-block;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: #ffffff;
  width: 300px;
  height: 70px;
  background-color: #ff2e55;
  border: 3px solid #ff2e55;
  padding-top: 15px;
  padding-bottom: 36px;
  padding-right: 65px;
  padding-left: 65px;
  cursor: pointer;
  border: none;
}

.reviews {
  padding-top: 100px;
  padding-bottom: 50px;
}

.reviewe-slider {
  margin-top: 98px;
}

.reviewe-slide {
  padding-left: 60px;
  padding-bottom: 100px;
}

.reviews-image {
  width: 220px;
  height: 220px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.01em;
  position: relative;
  margin-right: 50px;
}

.reviews-image:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.reviews-image > * {
  position: relative;
}

.reviews-image-1 {
  background: #000 url("../img/reviewes/review-image1.jpg");
}

.reviews-name {
  margin-bottom: 7px;
}

.reviews-text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.reviews-link {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #f24841;
}

.section-title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  text-align: center;
}

.advantages {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 50px;
  border-bottom: 1px solid #4c4c4c;
}

.advantages-wrapper {
  min-height: 85px;
  margin-bottom: 30px;
}

/* .advantages-title {
font-size: 20px;
line-height: 25px;
font-weight: 500;
text-transform: uppercase;
letter-spacing: 0.01em;
} */

.goods {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.text-red {
  color: #ff1844;
}

.section-description {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  text-align: center;
}

.card {
  text-align: center;
  background-color: #292929;
  border: 3px solid #fff;
  padding: 33px 30px 30px 30px;
  margin-top: 27px;
}

.card-title {
  margin-top: 23px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 28px;
}

.card-label {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 7px;
  margin-top: 20px;
}

.color-label {
  width: 20px;
  height: 20px;
}

.color-input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -9;
}

.color-label.white {
  background-color: #fff;
}

.color-label.beige {
  background-color: #f7b496;
}

.color-label.rose {
  background-color: #ed366e;
}

.color-label.red {
  background-color: #ff0000;
}

.color-label.blue {
  background-color: #12129d;
}

.color-label.yellow {
  background-color: #fff599;
}

.color-label.purpl {
  background-color: #962ccf;
}

.counter-input {
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  text-align: center;
  color: #fff;
  background-color: #292929;
  margin-left: 15px;
  margin-right: 15px;
}

.counter-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: #292929;
  border: none;
}

.card-button {
  font-size: 14px;
  width: 100%;
  padding: 16px 10px 13px 10px;
}

.more {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #f24841;
  text-align: center;
  display: block;
  margin-top: 39px;
}

.more:after {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 4px;
  background: url("../img/link/caret.png") no-repeat center;
  vertical-align: middle;
  margin-left: 14px;
  /* background-color: #292929; */
}

.more-flowers {
  display: none;
}

.offer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #1a1a1a;
  text-align: center;
}

.offer-link {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #ffffff;
  display: block;
  padding-bottom: 65px;
}

.offer-label {
  display: block;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.offer-phone {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-decoration: none;
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 33px;
}

.footer-menu-link {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: 30px;
}

/*.footer-menu-item {
    margin-right: 30px;
}*/

.social {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.footer-label {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-bottom: 12px;
}

.footer-info {
  text-align: right;
}

.footer-phone {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 11px;
  display: block;
}

.footer-white {
  padding-top: 48px;
  padding-bottom: 44px;
  background-color: #fff;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.footer-description {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #292929;
}

.footer-white-devop {
  font-family: MyriadPro;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #101010;
  text-align: right;
  display: block;
  margin-top: 20px;
}

.modal {
  display: none;
  width: 500px;
  height: 300px;
}

.modal-title {
  color: #292929;
}

.modal-input {
  display: block;
  width: 100%;
  padding: 10px;
  font-weight: 18px;
  margin-bottom: 5px;
}

.modal-button {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
  .header-contacts {
    text-align: center;
  }
  .hero {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .hero-title {
    font-size: 24px;
    line-height: 1.6;
  }
  .hero-description {
    font-size: 16px;
  }
  .button {
    padding: 20px 30px 15px 30px;
  }
  .section-title {
    margin-bottom: 40px;
  }
  .colors {
    max-width: 300px;
    margin: auto;
    padding-right: 5px;
  }
  .card-label {
    margin: 20px auto;
    display: block;
  }
  .footer-info {
    text-align: left;
  }
  .footer-white {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-description {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .footer-white-devop {
    text-align: left;
    margin-top: 0;
  }
}
@media (max-width: 570px) {
  .offer,
  .offer-title,
  .footer-info {
    text-align: left;
  }
}
